@{
    @model LibraryManagementSystem.ViewModels.AuthorViewModel
    ViewData["Title"] = "Edit Author";
}


<div class="edit-form">
    <h2>Edit Author</h2>
    <form method="post" asp-action="Edit">
        <input type="hidden" asp-for="@Model.Id"/>

        <div>
            <label asp-for="@Model.FirstName">First Name</label>
            <input asp-for="@Model.FirstName" type="text"/>
            <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="@Model.LastName"> Last Name</label>
            <input asp-for="@Model.LastName" type="text"/>
            <span asp-validation-for="@Model.LastName" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="@Model.DateOfBirth">Date of Birth</label>
            <input asp-for="@Model.DateOfBirth" type="date"/>
            <span asp-validation-for="@Model.DateOfBirth" class="text-danger"></span>
        </div>
        <button type="submit">Save</button>
    </form>
    <a asp-controller="Author" asp-action="List" class="back-link">Go Back</a>
</div>


